
/*
***FOR MASKED BACKGROUND EFFECT
*/
* { 
  box-sizing: border-box; /* for stiky nav too */
}
html {
  font-size: 0.8em;
  /*background-color: #262626;*/
  color: #d9d9d9;
}
body {
  margin: 0;
}
img {
  /*max-width: 100%;*/
  height: auto;
}
h1,h2,h3,h4,h5,h6 {
  line-height: 1.313em;
}
h1 {
  font-size: 3em;
  margin: 0.563em 0;
}
h2 {
  font-size: 2.25em;
  margin: 0.625em 0;
}
h3 {
  font-size: 1.5em;
  margin: 1.313em 0;
}
h4 {
  font-size: 1.313em;
  margin: 1.313em 0;
}
h5 {
  font-size: 1.125em;
  margin: 1.313em 0;
}
h6 {
  font-size: 1em;
  margin: 0.75em 0;
}
.smallscreen {
  display: none;
}
.content {
  font-size: 1.875rem;
  color: #262626;
  background-size: 35% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.content2 {
  height: 90%;
  font-size: 1.875rem;
  text-align: center;
  color: #262626;
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.separator {
  font-size: 1.875rem;
  /*padding: 1.618em 0;*/
  padding: 0.1em 0;
  text-align: center;
  background-color: #262626;
}
.right {
  padding: 1.618em 6.472em 3.236em 50%;
  background-position: 11% 50%;
}
.left {
  padding: 1.618em 50% 3.236em 6.472em;
  background-position: 89% 50%;
}
.full{
  padding: 1.618em 6.472em 3.236em 6.472em;
}
.illustration_01 {
  background-image: url("../images/background-1.png");
}
.illustration_02 {
  background-color: #e8697b;
  background-image: url("../images/boards/10.png");
}
.illustration_03 {
  background-color: #14b29a;
  background-image: url("../images/boards/9.png");
}
.illustration_04 {
  background-color: #80b9f1;
  background-image: url("../images/boards/8.png");
}

@media (max-width: 106.25rem) {
  .wrapper,
  .separator {
    font-size: 1.6875rem;
  }
}
@media (max-width: 93.75rem) {
  .content,
  .separator {
    font-size: 1.5rem;
  }
  .right {
    padding: 1.618em 4.854em 1.618em 50%;
  }
  .left {
    padding: 1.618em 50% 1.618em 4.854em;
  }
}
@media (max-width: 81.25rem) {
  .content,
  .separator {
    font-size: 1.3125rem;
  }
  .right {
    padding: 1.618em 3.236em 1.618em 45%;
    background-size: 44% auto;
    background-position: 0 55%;
  }
  .left {
    padding: 1.618em 45% 1.618em 3.236em;
    background-size: 44% auto;
    background-position: 100% 55%;
  }
}
@media (max-width: 68.75rem) {
  .content,
  .separator {
    font-size: 1.125rem;
  }
  .right {
    padding: 1.618em 3.236em 1.618em 40%;
    background-size: 39% auto;
    background-position: 0 60%;
  }
  .left {
    padding: 1.618em 40% 1.618em 3.236em;
    background-size: 39% auto;
    background-position: 100% 60%;
  }
}
@media (max-width: 50rem) {
  .smallscreen {
    display: block;
  }
  .right {
    padding: 1.618em 3.236em;
    background-image: none;
  }
  .left {
    padding: 1.618em 3.236em;
    background-image: none;
  }
}
@media (max-width: 31.25rem) {
  .right {
    padding: 1.618em 1.618em;
  }
  .left {
    padding: 1.618em 1.618em;
  }
}
@media (max-width: 12rem) {
  html {
    min-width: 12rem;
  }
}
/*
***FOR MASKED BACKGROUND EFFECT
*/


/*
***FOR MENU RESPONSIVE 
*/
.clear:before, .clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

a#pull {
    display: none;
}
nav {
    height: 40px;
    width: 100%;
    background: #666;
    position: relative;
    border-bottom: solid 1px #DDD;
}

nav ul {
    padding: 0;
    margin: 0 auto;
    width: 600px;
    height: 40px;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    color: #FFF;
    display: inline-block;
    width: 100px;
    text-align: center;
    line-height: 40px;
}

nav li a {
    border-right: 1px solid #576979;
}

nav li:last-child a {
    border-right: 0;
}

nav a:hover, nav a:active {
    background-color: #333;
}
@media only screen and (max-width : 500px) {
    nav {
        border-bottom: 0;
        height: auto;
    }

    nav ul {
        display: none;
        height: auto;
        width: 100%;
    }

    nav li {
        width: 50%;
        float: left;
        position: relative;
    }

    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }

    nav a#pull {
        display: block;
        background-color: #666;
        width: 100%;
        position: relative;
    }

    nav a#pull:after {
        content:"";
        background: url('nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
}

#navlogo{
  height: 40px;
}
a:link {
  text-decoration: none;
}
/*
***FOR MENU RESPONSIVE 
*/

/*
***FOR STICKY NAV
*/
.main-nav,
.main{
  position: fixed;
}
.main-nav{
  z-index: 150;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}
/*
***FOR STICKY NAV
*/


#btn-jugar{
  position: relative;
  top: 2em;
  left: -10em;

}
