* {
  box-sizing: border-box;
}
/*
***FOR BOARD
*/
.board-selected {
	border: 3px solid #000000;
}

.board-elem {
	/* float: left; */
	width: 8.8vw;
	height: 20vh;
	/* padding: 0; */
}
/*
***FOR BOARD
*/

/*
***FOR CARDS
*/
.current-card {
	width: 48%;
	height: 60%;
}

.card-img {
	width: 100%;
	height: 100%;
	margin-left: 0.1em;
}
/*
***FOR CARDS
*/

/*
***FOR BOTTLE CAP
*/
.bottle-cap {
  position: relative;
  top: -90px;
  left: 14px;
	width: 7vw;
	height: 10vh;
	z-index: 10;
}

.cap-hide {
	/* display: none; */
	visibility: hidden;
}
/*
***FOR BOTTLE CAP
*/


.to-right {
	float: right;
}
